body
{
}
img {
	margin: 10px;
	}
#eka { 
float: left;
}
#toka {
clear: both; 
float: right;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
}
th {
	text-align: left;
	background: red;
	color: white;
}
td {
	width: 200px;
}
tr:nth-child(even) {
background: yellow;
}
